* {
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #3838b6;
  background-size: 100%;
  cursor: none;
  overflow: hidden;
}
#image {
  position: absolute;
  height: 100px;
  width: 100px;
  animation-name: anim;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes anim {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

#circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  /* border: 5px solid white; */
  /* background-color: rosybrown; */
  position: absolute;
  font-size: 2em;
  top: 20%;
  left: 20%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
  margin-left: 5vw;
}

#score {
  text-align: center;
  color: white;
  font-size: 3em;
}